.checkout-item {
    width: 100%;
    display: flex;
    min-height: 100px;
    border-bottom: 1px solid darkgrey;
    padding: 15px 0;
    font-size: 20px;
    align-items: center;
  
    .image-container {
      width: 23%;
      padding-right: 15px;
  
      .checkout-item-image {
        background-size: cover;
        height: 150px;
        background-position: center;

        @media screen and (max-width: 610px) {
          height: 80px;
        }
      }
    }
    .name,
    .quantity,
    .price {
      width: 23%;
    }
  
    .quantity {
      display: flex;

      .arrow {
        cursor: pointer;
        user-select: none;
      }
      .value {
        margin: 0 10px;
      }
    }
  
    .remove-button {
      cursor: pointer;
    }
  }
  