.sign-in {
    width: 42vh;
    display: flex;
    flex-direction: column;

    .title {
        margin: 10px 0;
    }

    .btns-sign-in-wrapper {
        display: flex;
        justify-content: space-between;
    }
}