.sign-in {
    margin-right: 58px;
    display: flex;
    flex: 1;
    flex-direction: column;

    .title {
        margin: 10px 0;
    }

    .btns-sign-in-wrapper {
        display: flex;
        justify-content: space-between;
    }
}