@import "./styles/directory";
@import "./styles/home-page";
@import "./styles/menu-item";
@import "./styles/collection-item";
@import "./styles/preview-collection";
@import "./styles/header";
@import "./styles/sign-in";
@import "./styles/form-input";
@import "./styles/custom-btn";
@import "./styles/sign-up";
@import "./styles/sign-in-sign-up";
@import "./styles/cart-icon";
@import "./styles/cart-dropdown";
@import "./styles/shop-page";
@import "./styles/cart-item";
@import "./styles/checkout-page";
@import "./styles/checkout-item";
@import "./styles/flash";
@import "./styles/category";
@import "./styles/collection-page";

html {
  box-sizing: border-box;
  overflow-y: overlay;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Open Sans Condensed", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

.app-wrapper {
  min-height: 100vh;
  background-size: 185px;
}

.app-body {
  padding: 20px 60px;
  max-width: 1200px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-top: 0;
  margin-bottom: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

a {
  text-decoration: none;
  color: black;
}
